.loading-container {
    min-height: 60vh;
    position: relative;
  }
  
  .loading-center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }