/* footer */

.footerStyle {
    padding-top: 50px;
    background-color: #e1e1e1;
    left:0px;
    bottom:0px;
    width: 100%;
}
footer {
  color: rgb(83, 83, 83);
}

footer .footerAbove {
  padding-top: 50px;
  background-color: #e1e1e1;
}
footer .footerCol {
  margin-bottom: 50px;
}
footer .footerBelow {
  padding: 25px 0;
  background-color: #e1e1e1;
}