.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
  }

  .quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px; 
    margin-right: 40px;
  }